.product_main{

   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
               url('/images/vecteezy_various-spices-and-herbs-in-wooden-spoons-with-copy-space_2025374.jpg');
   background-size: cover;
   background-position: center;
   
 }